<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <h4 class="page-title">Meey land test project</h4>
      </div>
      <!-- Search Box -->
      <form role="form" class="col-12">
        <div class="columns">
          <div class="columns col-5">
            <div class="column col-4">
              <!-- form input control -->
              <div class="form-group">
                <label class="form-label" for="view-start-date"
                  >Thời gian xem nhà</label
                >
                <input
                  class="form-input"
                  v-model="query.filter.view_start_date"
                  type="date"
                  id="view-start-date"
                />
              </div>
              <!-- form input control -->
              <div class="form-group">
                <label class="form-label" for="appointment-start-date"
                  >Thời gian đặt lịch</label
                >
                <input
                  class="form-input"
                  type="date"
                  v-model="query.filter.appointment_start_date"
                  id="appointment-start-date"
                />
              </div>
            </div>
            <div class="column col-4">
              <div class="form-group">
                <label class="form-label" for="view-end-date">&nbsp;</label>
                <input
                  class="form-input"
                  v-model="query.filter.view_end_date"
                  type="date"
                  id="view-end-date"
                />
              </div>
              <!-- form input control -->
              <div class="form-group">
                <label class="form-label" for="appointment-end-date"
                  >&nbsp;</label
                >
                <input
                  class="form-input"
                  type="date"
                  v-model="query.filter.appointment_end_date"
                  id="appointment-end-date"
                />
              </div>
            </div>
          </div>
          <div class="column col-7">
            <div class="collumns">
              <div class="columns col-12">
                <div class="column col-7">
                  <!-- form input control -->
                  <div class="form-group">
                    <label class="form-label" for="search">Tìm kiếm</label>
                    <div class="form-group columns">
                      <input
                        class="form-input column col-10"
                        type="search"
                        id="search"
                        placeholder="Tìm kiếm theo họ tên, số điện thoại hoặc email"
                        v-model="query.filter.customer_search"
                      />
                      <button
                        type="submit"
                        class="btn-primary btn"
                        style="margin-left: 5px"
                        @click.prevent="fetchData()"
                      >
                        Tìm
                      </button>
                    </div>
                  </div>
                </div>
                <div class="column col-5">
                  <div class="form-group">
                    <label class="form-label">&nbsp;</label>
                    <div class="btn-group btn-group-block">
                      <button
                        class="btn btn-success mx-1"
                        @click.prevent="fetchData()"
                      >
                        Lọc dữ liệu <i class="icon icon-2x icon-arrow-left"></i>
                      </button>
                      <button class="btn btn-success mx-1">Tải lại</button>
                      <button class="btn btn-primary mx-1">
                        Cập nhật trạng thái
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collumns">
              <div class="columns col-12">
                <div class="column col-6">
                  <!-- form input control -->
                  <div class="form-group">
                    <label class="form-label" for="status">Trạng thái</label>
                    <select
                      class="form-select"
                      id="status"
                      placeholder="Trạng thái"
                      v-model="query.filter.status"
                    >
                      <option value="" selected>Tất cả</option>
                      <option value="0">Chờ xác nhận</option>
                      <option value="1">Đã xác nhận</option>
                      <option value="2">Đã hoàn thành</option>
                      <option value="3">Đã hủy</option>
                    </select>
                  </div>
                </div>
                <div class="column col-5 col-ml-auto">
                  <!-- form input control -->
                  <div class="form-group">
                    <label class="form-label" for="view-type">Loại xem</label>
                    <select
                      class="form-select"
                      id="view-type"
                      placeholder="Loại xem"
                      v-model="query.filter.type"
                    >
                      <option value="" selected>Tất cả</option>
                      <option value="0">Xem trực tiếp</option>
                      <option value="1">Xem live stream</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="collumns">
              <div class="columns col-12">
                <div class="columns col-6">
                  <!-- form input control -->
                  <div class="form-group column column-6">
                    <label class="form-label" for="reminder"
                      >Số lần nhắc lịch</label
                    >
                    <input
                      class="form-input"
                      type="number"
                      id="reminder"
                      v-model="query.filter.support_count"
                    />
                  </div>
                  <div class="form-group column column-6">
                    <label class="form-label" for="type">Loại tin</label>
                    <select
                      class="form-select"
                      id="type"
                      placeholder="Trạng thái"
                      v-model="query.filter.post_type"
                    >
                      <option value="" selected>Tất cả</option>
                      <option value="true">Tin crawl</option>
                      <option value="false">Tin tự đăng</option>
                    </select>
                  </div>
                </div>
                <div class="column col-5 col-ml-auto">
                  <div class="form-group">
                    <label class="form-label" for="title">Tin đăng</label>
                    <input
                      class="form-input"
                      type="text"
                      id="title"
                      placeholder="Tìm kiếm theo mã hoặc tiêu đề tin đăng"
                      v-model="query.filter.news_search"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collumns">
          <div class="column col-12 text-right">
            <button
              type="submit"
              class="btn btn-primary mx-2"
              @click.prevent="fetchData()"
            >
              <i class="icon icon-2x icon-search"></i> Tìm kiếm
            </button>

            <button type="reset" class="btn">
              <i class="icon icon-2x icon-refresh"></i> Thiết lập lại
            </button>
          </div>
        </div>
      </form>
      <hr style="margin: 20px 0px" />
      <!-- Table -->
      <div class="table-responsive">
        <table
          class="
            table table-bordered table table-striped table-hover table-scroll
          "
        >
          <thead>
            <tr>
              <th class="text-center">
                <input
                  type="checkbox"
                  @click="selectAll"
                  v-model="allSelected"
                />
              </th>
              <th class="text-center" @click.prevent="sortColumn('code')">
                Mã đặt lịch
                <span>
                  <font-awesome-icon :icon="['fas', sortColumnClass('code')]" />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('createdAt')">
                Thời gian đặt lịch
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('createdAt')]"
                  />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('viewAt')">
                Thời gian xem nhà
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('viewAt')]"
                  />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('type')">
                Loại xem
                <span>
                  <font-awesome-icon :icon="['fas', sortColumnClass('type')]" />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('status')">
                Trạng thái lịch hẹn
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('status')]"
                  />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('note')">
                Ghi chú
                <span>
                  <font-awesome-icon :icon="['fas', sortColumnClass('note')]" />
                </span>
              </th>
              <th
                class="text-center"
                @click.prevent="sortColumn('receiveUserId')"
              >
                Người đặt lịch
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('receiveUserId')]"
                  />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('senderName')">
                Người đăng tin
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('senderName')]"
                  />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('post.code')">
                Mã tin đăng
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('post.code')]"
                  />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('post.type')">
                Loại tin
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('post.type')]"
                  />
                </span>
              </th>
              <th class="text-center" @click.prevent="sortColumn('post.title')">
                Tiêu đề tin đăng
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('post.title')]"
                  />
                </span>
              </th>
              <th
                class="text-center"
                @click.prevent="sortColumn('supportCount')"
              >
                Số lần nhắc lịch
                <span>
                  <font-awesome-icon
                    :icon="['fas', sortColumnClass('supportCount')]"
                  />
                </span>
              </th>
              <th class="text-center" style="min-width: 150px">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="data.length <= 0">
              <td colspan="14" class="text-center">Không có dữ liệu</td>
            </tr>
            <tr v-for="item in data" :key="item._id">
              <td class="text-center">
                <input
                  type="checkbox"
                  class="select-checkbox"
                  v-model="itemIds"
                  :value="item._id"
                />
              </td>
              <td class="text-left">{{ item.code }}</td>
              <td class="text-center">
                {{ dateFormat(item.createdAt, "DD-MM-YYYY HH:mm") }}
              </td>
              <td class="text-center">
                {{ dateFormat(item.viewAt, "DD-MM-YYYY") }}
              </td>
              <td class="text-center">{{ renderType(item.type) }}</td>
              <td class="text-center">{{ renderStatus(item.status) }}</td>
              <td class="text-center">{{ item.note }}</td>
              <td class="text-center">
                {{ item.senderName }} <br />
                {{ item.senderPhone }} <br />
                {{ item.senderEmail }}
              </td>
              <td class="text-center">
                {{ item.creator.name }} <br />
                {{ item.creator.phone }} <br />
                {{ item.creator.email }}
              </td>
              <td class="text-center">{{ item.post.code }}</td>
              <td class="text-center">
                {{ item.post.crawl ? "Tin crawl" : "Tin tự đăng" }}
              </td>
              <td class="text-center">{{ item.post.title }}</td>
              <td class="text-center">{{ item.supportCount }}</td>
              <td class="text-center">
                <div class="btn-group btn-group-vertical">
                  <button class="btn btn-small action-btn">
                    <font-awesome-icon :icon="['fas', 'eye']" />
                  </button>
                  <button
                    v-if="item.status !== 2 && item.status !== 3"
                    class="btn btn-small action-btn"
                  >
                    <font-awesome-icon :icon="['fas', 'edit']" />
                  </button>
                  <button
                    v-if="item.status !== 2 && item.status !== 3"
                    class="btn btn-small action-btn"
                  >
                    <font-awesome-icon :icon="['fas', 'trash-alt']" />
                  </button>
                  <button class="btn btn-small action-btn">
                    <font-awesome-icon :icon="['fas', 'undo']" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
</template>

<script>
import "spectre.css";
import moment from "moment";
export default {
  name: "App",
  components: {},
  data() {
    return {
      url: "http://localhost:3000",
      data: [],
      query: {
        column: "",
        direction: -1,
        filter: {
          view_start_date: "",
          view_end_date: "",
          appointment_start_date: "",
          appointment_end_date: "",
          customer_search: "",
          news_search: "",
          post_type: "",
          status: "",
          support_count: "",
          type: "",
        },
      },
      selected: [],
      allSelected: false,
      itemIds: [],
    };
  },
  methods: {
    selectAll: function () {
      this.itemIds = [];
      if (!this.allSelected) {
        for (let item in this.data) {
          this.itemIds.push(this.data[item]._id);
        }
      }
    },
    dateFormat(value, format) {
      return moment(value).format(format);
    },
    renderStatus(value) {
      let result;
      switch (value) {
        case 0:
          result = "Chờ xác nhận";
          break;
        case 1:
          result = "Đã xác nhận";
          break;
        case 2:
          result = "Hoàn thành";
          break;
        case 3:
          result = "Từ chối";
          break;
        default:
          break;
      }
      return result;
    },
    renderType(value) {
      return value === 0 ? "Xem trực tiếp" : "Xem live video";
    },
    fetchData() {
      let vue = this;
      this.$http
        .get(this.url, {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
          params: this.query,
        })
        .then((response) => {
          vue.data = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    sortColumnClass(column) {
      let className = "sort";
      if (column === this.query.column) {
        className = this.query.direction === 1 ? "sort-up" : "sort-down";
      }
      return className;
    },
    sortColumn(column) {
      if (this.query.column !== column) {
        this.query.column = column;
        this.query.direction = 1;
      } else {
        this.query.direction = this.query.direction === 1 ? -1 : 1;
      }
      this.sortColumnClass(column);
      this.fetchData();
    },
  },
  created() {
    this.fetchData();
  },
};
</script>
<style scoped>
.columns {
  margin-left: 0px;
}
#search::placeholder,
#title::placeholder {
  font-style: italic;
}
.form-input {
  font-size: 0.7rem;
}
.table th {
  background: #eeeeee;
  border-right: 1px solid #dadee4;
  padding: 0.6rem 0.6rem;
}
.action-btn {
  padding: 5px;
  font-size: 14px;
  margin: 5px;
}
</style>
<style>
body {
  font-size: 0.7rem;
}
</style>